 .para-1{
	 background:purple;
	 color: white;
	 font-size: 50px;
 }
 .img{
	 background: purple;
	 margin: 0 width: 60px;
 }
 .list{
		color: blue;
		text-align: center;
 }
 #para-3{
	 text-align: center;
	 color:red;
 }